
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.navbar-laravel {
  background-color:  #3c8dbc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}
.borde{
 
  border-top: 3px solid #3c8dbc;
  border-radius: 1px; 
}
.card-header{
  background-color: #fff;
}
