<template>
    <div class="container">
    <div class="row justify-content-center">
        <div class="col-md-12">
            <div class="card">
                <div class="borde">
                    <div class="card-header">
                        Agregar Productos
                    </div>
                </div>
                
                <div class="card-body">
                    <form v-on:submit.prevent="addProduct" method="post">
                      
                        <div class="form-group">
                            <label class="col-md-4 control-label" for="textinput">Productos</label>  
                            <div class="col-md-12">
                                    
<v-select v-model="product_id" label="name" :options="productos" placeholder="selecciona una producto"></v-select>
                            </div>
                            
                        </div>
                        
                        <!-- Button -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for=""></label>
                        <div class="col-md-12">
                          <button type="submit" class="btn btn-primary">Agregar</button>
                        </div>
                      </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</template>

<script>

    export default {
        mounted(){
            this.products()
        },
        props:['id'],
        data() {
            return {
                productos: [],
                product_id: 0,
                
                
            }
        },
        methods: {
            products(){
                axios.get('/addproductsvue/'+this.id).then(response=>{
                    this.productos = response.data
                })
            },

            addProduct(){
                
                
                axios.post('/agregarproductos/'+this.id,{ 
                   'product_id':this.product_id.id,
                   'id': this.id
                    
                    }).then(response=>{
                        this.productos = []
                        this.product_id = 0
                        this.products()
                })
               
            }
           
        },
    }
</script>

<style scoped>

</style>