<template>
<div class="container">
<div class="row justify-content-center">
 <div class="col-md-12">
<div class="card">
     <div class="borde">
                    <div class="card-header">
                        Productos Agregados
                    </div>
                </div>
    <div class="card-body">
       
                    <div class="table-responsive">
                    <table class="table table-hover table-sm">
                        <thead>
                            <tr>
                                <th>Nombre</th>
                                <th>Código</th>
                                <th>Precio</th>
                                <th>Quitar</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                                <tr v-for="item in cotizacion.products">
                                    <td>{{item.name}}</td>
                                    <td>{{item.cod}}</td>
                                    <td>{{item.price}}</td>
                                    <td>
                                      <form v-on:submit.prevent="deleteProduct(item.pivot.id, cotizacion.id, item.price)" method="POST">
                                      
                                       
                                        <button class="btn btn-danger btn-sm" type="submit">
                                            
                                            <i class="fa fa-window-close" aria-hidden="true"></i>
                                        </button>
                                      </form>
                                    </td>
                                </tr>
                           
                        </tbody>
                    </table>
                    </div>
                    <label for="">Sub-Total</label>({{empresa.moneda}})
                    <input type="text" v-model="cotizacion.subtotal" disabled>
                    <label for="">ITBMS</label>({{empresa.moneda}})
                    <input type="text" v-model="cotizacion.itbms" disabled>
                    <label for="">Total</label>({{empresa.moneda}})
                    <input type="text" v-model="cotizacion.total" disabled>
                   
                </div>
</div>
 </div>
</div>
</div>
</template>

<script>
    export default {
        mounted(){
          
            this.getProducts()
            this.getCompany()
            Echo.channel('lista').listen('RefreshList', () => {
                this.getProducts()
            })
        },
        props:['id'],
        data() {
            return {
                cotizacion:[],
                empresa:'',
                send:{
                    id:'',
                    cotizacion_id:'',
                    price:''
                }
              
            }
        },
        methods:{
           
            getProducts(){
                var id = this.id
                axios.get('/forvue/'+id).then(response=>{
                    this.cotizacion = response.data
                })
            },
            getCompany(){
                axios.get('/empresa').then(response=>{
                    this.empresa = response.data
                })
            },
            deleteProduct(a, b, c){
                this.send.id = a
                this.send.cotizacion_id = b
                this.send.price = c
                
                axios.post('/quitarproductos/'+a, this.send).then(response=>{
                    this.getProducts()
                })
            }
          
        }
    }
</script>

<style scoped>

</style>